__pycache__/
.DS_Store
scraping\ the\ web\ for\ poems/dataset.csv
dataset_version1.csv
taha_magdy.csv
RNN-implemntation/.ipynb_checkpoint
RNN-implemntation/Untitled.ipynb
Analysis\ Data.ipynb
English_Poetry_RNN/src/__pycache__/
English_Poetry_RNN/src/.ipynb_checkpoints/
.gitignore.swp
English_Poetry_RNN/Experiement/
English_Poetry_RNN/data
English_Poetry_RNN/src/umar_Test.ipynb
.gitattributes
.gitignore
*.hdf5
Arabic_Poetry_RNN/data/
Arabic_Poetry_RNN/*.pickle
Arabic_Poetry_RNN/src/lib/.ipynb_checkpoints/
Arabic_Poetry_RNN/src/lib/test_folders/
Arabic_Poetry_RNN/src/log.txt
Arabic_Poetry_RNN/src/.ipynb_checkpoints/
Arabic_Poetry_RNN/src/*.ipynb
