__pycache__/
.DS_Store
scraping\ the\ web\ for\ poems/dataset.csv
dataset_version1.csv
taha_magdy.csv
RNN-implemntation/.ipynb_checkpoint
RNN-implemntation/Untitled.ipynb
Analysis\ Data.ipynb
English_Poetry_RNN/src/umar_Test.ipynb
English_Poetry_RNN/src/__pycache__/
English_Poetry_RNN/src/.ipynb_checkpoints/
.gitignore.swp
English_Poetry_RNN/Experiement/

